<header>
  <nav>
    <div class="leftBox">
      <a class="navItem" routerLink="/companies" routerLinkActive="active" *ngIf="isLoggedIn">Companies</a>
      <a class="navItem" routerLink="/products" routerLinkActive="active" *ngIf="isLoggedIn">Products</a>
    </div>
    <div class="rightBox">
      <a class="navItem" routerLink="/auth/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a>
      <a class="navItem" routerLink="/auth/signup" routerLinkActive="active" *ngIf="!isLoggedIn">Signup</a>
      <button class="navItem logoutBut" *ngIf="isLoggedIn" (click)="onLogout()">Logout</button>
    </div>
  </nav>
</header>
