<div id="overlay" *ngIf="isLoading"></div>
<app-loading [isLoading]="isLoading"></app-loading>
<section class="card" *ngIf="!isLoading">
  <form #productForm="ngForm">
    <div class="productData">
      <h4>Product</h4>
      <div class="container">
        <div class="flex1">
          <div class="labelOnTop">
            <label>{{productLabels.name}}</label>
            <input type="text" autofocus [ngModel]="product?.name" name="name" #name="ngModel" placeholder="{{productLabels.name}}" required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              {{ productMessages.noName }}
            </div>
          </div>
        </div>
        <div class="flex1">
          <app-cc-single-select (singleSelectedItems)="setSingleSelectedItems($event)" [label]="productLabels.company" [selectedLabel]="selectedCompanyLabel" [items]="companies"></app-cc-single-select>
        </div>
      </div>
      <div class="container">
        <div class="flex1">
          <app-cc-toggle (toggleItem)="setToggleItem($event)" [label]="productLabels.isGreen" [item]="product.isGreen"></app-cc-toggle>
        </div>
        <div class="flex1">
            <app-cc-toggle (toggleItem)="setToggleItem($event)" [label]="productLabels.isTopPick" [item]="product.isTopPick"></app-cc-toggle>
        </div>
        <div class="flex1">
          <div class="labelOnTop">
            <label class="cashbackLabel">{{productLabels.cashback}}</label>
            <input class="cashback" type="number" [ngModel]="product?.cashback" name="cashback" #cashback="ngModel" min="0">
        </div>
        </div>
      </div>
      <div class="container">
        <div class="flex1">
            <app-cc-single-select (singleSelectedItems)="setSingleSelectedItems($event)" [label]="productLabels.rateType" [selectedLabel]="selectedRateTypeLabel" [items]="rateTypes"></app-cc-single-select>
        </div>
        <div class="flex1">
            <app-cc-single-select (singleSelectedItems)="setSingleSelectedItems($event)" [label]="productLabels.fuelType" [selectedLabel]="selectedFuelTypeLabel" [items]="fuelTypes"></app-cc-single-select>
        </div>
        <div class="flex1">
            <app-cc-single-select (singleSelectedItems)="setSingleSelectedItems($event)" [label]="productLabels.paymentMethod" [selectedLabel]="selectedPaymentMethodLabel" [items]="paymentMethods"></app-cc-single-select>
        </div>
      </div>
    </div>
    <div class="full" *ngIf="product.fuelType === this.keys.gas || product.fuelType === this.keys.both">
      <h4>{{productLabels.gas}}</h4>
        <app-fuel (fuelItems)="setFuelItems($event)" [labels]="productLabels" [fuel]="product.gas" [type]="keys.gas"></app-fuel>
    </div>
    <div class="full" *ngIf="product.fuelType === this.keys.electricity || product.fuelType === this.keys.both">
        <h4>{{productLabels.electricity}}</h4>
          <app-fuel (fuelItems)="setFuelItems($event)" [labels]="productLabels" [fuel]="product.electricity" [type]="keys.electricity"></app-fuel>
      </div>
    <div [hidden]="productForm.valid || productForm.pristine" class="alert alert-danger">
      {{ productMessages.allFields }}
    </div>
    <div class="productButtons right">
      <button type="button" class="cancel right capitalize" (click)="onCancel(productForm)">{{keys.cancel}}</button>
      <button type="button" class="ok" (click)="onSaveProduct(productForm)">{{productLabels.saveProduct}}</button>
    </div>
  </form>
</section>
