.productHeader {
  border: 1px solid lightgray;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.productItem.title {
  flex: 2;
}

.productItem.link {
  padding-right: 10px;
  text-align: right;
  cursor: pointer;
}

.fa-pencil-alt {
  color: green;
}

.fa-trash-alt {
  color: red;
}

.productListContainer {
  position: relative;
}

.productListContainer .add {
  margin-bottom: 12px;
}

.productListContainer table {
  background: white;
}

.productListContainer table td, .productListContainer table th {
  padding: 12px 10px;
}

.productListContainer table td.small, .productListContainer table th.small {
  width: 10%;
  text-align: center;
}

.productListContainer table td.small, .productListContainer table th.small {
  width: 10%;
  text-align: center;
}

.productListContainer table th.small.capitalize {
  text-transform: capitalize;
}

.productListContainer table th.tableLink {
  cursor: pointer;
  position: relative;
}

.productListContainer table th.tableLink span {
  display: inline-block;
}

.productListContainer table th.tableLink span i {
  position: absolute;
  right: 10px;
  top: 12px;
}
