.pollRating {
  display: flex;
  flex-direction: row;
  position: relative;
}

h4 {
  display: block;
  margin: 10px 12px 0 6px;
  font-size: 14px;
}

.companyButtons .cancel {
  margin-right: 10px;
}

.stars {
  padding-top: 0;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .stars {
    padding-top: 70px;
  }
}
