.usersModal {
  width: 310px;
  height: 200px;
  top: -300px;
  position: relative;
  z-index: 10;
  background: white;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.usersModal.slideDown {
  /* transition: top 300ms; */
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  top: 30px;
}

.usersModalHeader {
  background: red;
  color: white;
}

.usersModalFooter {
  background: grey;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.usersModalContent, .usersModalHeader, .usersModalFooter {
  padding: 6px 12px;
}

.usersModalContent {
  padding-top: 12px;
}

.usersModalContent, .usersModalHeader {
  text-align: left;
}

.usersModal button {
  margin-left: 12px;
}

.usersModal span {
  display: inline-block;
  width: 50%;
}

.usersModal .fa-exclamation-triangle {
  color: white;
  font-size: 36px;
}

.usersModal .title {
  font-size: 14px;
  position: relative;
  top: -8px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .usersModal {
    width: 500px;
    height: 300px;
  }
}
