.companyHeader {
  border: 1px solid lightgray;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.companyItem.title {
  flex: 2;
}

.companyItem.link {
  padding-right: 10px;
  text-align: right;
  cursor: pointer;
}

.fa-pencil-alt {
  color: green;
}

.fa-trash-alt {
  color: red;
}

.companyListContainer {
  position: relative;
}

.companyListContainer .add {
margin-bottom: 12px;
}

.companyListContainer table {
  background: white;
}

.companyListContainer table td, .companyListContainer table th {
  padding: 12px 10px;
}

.companyListContainer table td.small, .companyListContainer table th.small {
  width: 10%;
  text-align: center;
}

.companyListContainer table th.small.capitalize {
  text-transform: capitalize;
}

.companyListContainer table th.tableLink {
  cursor: pointer;
  position: relative;
}

.companyListContainer table th.tableLink span {
  display: inline-block;
}

.companyListContainer table th.tableLink span i {
  position: absolute;
  right: 10px;
  top: 12px;
}
